html {
  font-size: 16px;
}

.main-wrapper {
  margin: 0 auto;
  padding: 50px;
  /* width: 1000px; */
  height: 1000px;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.item-1,
.item-2,
.item-3,
.item-4 {
  width: 400px;
  height: 190px;
  margin: 5px;
  display: block;
}

.item-1 {
  background-color: blue;
}

.item-2 {
  background-color: red;
}

.item-3 {
  background-color: green;
}

.item-4 {
  background-color: yellow;
}

/* от нуля до 576px */
@media screen and (max-width: 576px) {
  /* .item-1,
  .item-2,
  .item-3,
  .item-4 {
    width: 500px;
    height: 100px;
    margin: 5px 0;
  } */

  .item-1 {
    background-color: yellow;
  }

  .item-2 {
    background-color: green;
  }

  .item-3 {
    background-color: red;
  }

  .item-4 {
    background-color: blue;
  }
}

/* от 576px до 992px*/
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* .item-1,
  .item-2,
  .item-3,
  .item-4 {
    width: 600px;
    height: 150px;
    margin: 5px 0;
  } */

  .main-wrapper {
    width: 600px;
    padding: 20px;
  }

  .item-1 {
    background-color: red;
  }

  .item-2 {
    background-color: blue;
  }

  .item-3 {
    background-color: green;
  }

  .item-4 {
    background-color: yellow;
  }
}

/* от 1600px*/
@media screen and (min-width: 1600px) {
  /* .item-1,
  .item-2,
  .item-3,
  .item-4 {
    width: 900px;
    height: 400px;
    margin: 5px 0;
  } */
}
