.main-wrapper {
  /* margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto; */

  /* margin: 200px; */

  margin: 0 auto;

  /* margin: 0 auto 0 auto; */
  /* margin: 200px 50px 300px; */

  /* padding: 30px 40px 50px 60px; */
  padding: 10px;

  width: 1000px;
  border: 1px solid black;
}

.paragraph {
  margin-top: 30px;
  margin-bottom: 50px;

  /* padding: 10px 20px 30px 40px; */
  padding: 10px;

  border: 1px solid red;
  border-radius: 20px;

  /* text-align: justify; */
}

.sidebar {
  width: 199px;
  float: left;
  border: 1px solid blue;
}

.main-content {
  width: 789px;
  margin-left: 209px;
  border: 1px solid green;
  overflow: hidden;
}

.main-wrapper-3-column {
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  width: 1000px;
  border: 1px solid black;
}

.left-panel,
.right-panel {
  border: 1px solid blue;
}

.left-panel {
  width: 199px;
  margin-right: 680px;
}

.right-panel {
  width: 299px;
  float: right;
  margin-left: 20px;
}

.three-column-content {
  width: 379px;
  float: right;
  border: 1px solid green;
}

.bold-font {
  font-weight: 900;
  color: red;
}

span.bold-font {
  color: blue;
}

h1 .bold-font {
  color: blue;
}

.three-column-content > .paragraph > .orange {
  color: orange;
}

.paragraph + h3 {
  color: red;
}

#our-id {
  color: brown;
}

h3 + h3 {
  color: blue;
}

.text-specifichnost {
  color: red;
}

p {
  color: green;
}
